[Unit]
Description=odoo 8.0
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
# Si queremos matar antes el anterior
# ExecStartPre=-/usr/bin/docker kill busybox1
# Si queremos borrar el anterior
# ExecStartPre=-/usr/bin/docker rm busybox1 
# Si queremos hacer un pull
# ExecStartPre=/usr/bin/docker pull busybox
ExecStart=/usr/bin/docker run --name busybox1 busybox /bin/sh -c "while true; do echo Hello World; sleep 1; done"

[Install]
WantedBy=multi-user.target